{
    "arrowParens": "avoid",
    "printWidth": 120,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.ts", "*.tsx"],
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
